
$main-grey: #292929;
$main-beige: #F1E9DC;
$main-orange: #F05A22;
$main-brown: #723C14;

$poppins: var(--font-poppins);
$comforterBrush: var(--font-comforter-brush);
$azoSans: var(--font-azo-sans);
$second-heading: var(--font-outfit);
$estonia: var(--font-estonia);
$breathing: var(--font-breathing);

.header {

    img {
        width: 100%;
        height: 100%;
    }

    h1 {
        color: $main-beige;
        font-family: $azoSans;
        text-align: center;
        font-size: 450%;
    }

    p {
        color: $main-orange;
        text-align: center;
        font-family: $breathing;
        font-size: 400%;
        margin-top: -60px;
        line-height: 1.2;
    }
}

.systembolagetDiv {

    margin-top: 100px;

    h2 {
        font-family: $second-heading;
        color: $main-beige;
        text-align: center;
        display: block;
        margin: 0 auto;
        font-size: 230%;
        width: 450px;
    }

    .systembolagetLink img {
        display: block;
        margin: 0 auto;
        width: 210px;
        margin-top: 30px;
        height: 100%;
    }
}

.krogDiv {

    margin-top: 100px;
    margin-bottom: 100px;

    h2 {
        font-family: $second-heading;
        color: $main-beige;
        text-align: center;
        font-size: 180%;
        margin-top: 10%;       
    }

    p {
        font-family: $poppins;
        color: lighten($main-orange, 3%);
        text-align: center;
        margin-top: -13px;
        font-size: 130%;
    }
}

.productDiv {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    justify-items: center;
    width: 700px;
    margin: 0 auto;
    align-items: stretch;
        row-gap: 50px;
}

//Anpassningar till stora skärmar
@media (min-width: 1500px) {

    .systembolagetDiv {
        .systembolagetLink img {
            width: 250px;
        }
    }

    .krogDiv {

        h2 {
            font-size: 230%;
            width: 600px;
            text-align: center;
            display: block;
            margin: 0 auto;
        }

        p {
            font-size: 160%;
            color: $main-orange;
            margin-top: 20px;
        }
    }

    .productDiv {
            grid-template-columns: repeat(3,1fr);
    }

}

@media (max-width: 1100px) {
    .productDiv {
            grid-template-columns: repeat(1,1fr);
            width: 500px;
    }

    .header {
        h1 {
            font-size: 330%;
        }

        p {
            font-size: 300%;
            margin-top: -50px;
        }
    }

        .systembolagetDiv {
        .systembolagetLink img {
            width: 210px;
        }

    }

    .krogDiv {
        margin: 0 auto;
        width: 95%;
        max-width: 400px;
        margin-top: 100px;
        margin-bottom: 100px;
        
    }

}

@media (max-width: 700px) {
    .productDiv {
            grid-template-columns: repeat(1,1fr);
            width: 300px;
    }

        .header {
        h1 {
            font-size: 270%;
        }

        p {
            font-size: 270%;
            margin-top: -35px;
        }
    }

    .systembolagetDiv {
        font-size: 80%;

        .systembolagetLink img {
            width: 210px;
        }
    }
}

@media (max-width: 500px) {
    .header {
        h1 {
            line-height: 40px;
        }
        p {
            margin-top: -30px;           
        }
    }

    .systembolagetDiv {
        h2 {
        width: 80%;            
        }

    }
}
