
$main-grey: #292929;
$main-beige: #F1E9DC;
$main-orange: #F05A22;
$main-brown: #723C14;
$main-green: #8d9a72;

$poppins: var(--font-poppins);
$comforterBrush: var(--font-comforter-brush);
$azoSans: var(--font-azo-sans);
$second-heading: var(--font-outfit);
$estonia: var(--font-estonia);
$breathing: var(--font-breathing);

.header {

    img {
        width: 100%;
        height: 100%;
    }

    h1 {
        color: $main-beige;
        font-family: $azoSans;
        text-align: center;
        font-size: 300%;
    }

    p {
        color: $main-orange;
        text-align: center;
        font-family: $breathing;
        font-size: 250%;
        margin-top: -45px;
        line-height: 1.2;
    }
}

.systembolagetDiv {

    margin-top: 100px;

    h2 {
        font-family: $second-heading;
        color: $main-beige;
        text-align: center;
        display: block;
        margin: 0 auto;
        font-size: 180%;
        max-width: 900px;
        width: 80%;
    }

    .systembolagetLink img {
        display: block;
        margin: 0 auto;
        width: 200px;
        margin-top: 30px;
        height: 100%;
    }
}

.krogDiv {

    margin-top: 100px;
    margin-bottom: 100px;

    h2 {
        font-family: $second-heading;
        color: $main-beige;
        text-align: center;
        font-size: 180%;
        display: block;
        margin: 0 auto;
        margin-top: 10%; 
        max-width: 900px;
        width: 80%;      
    }

    p {
        font-family: $poppins;
        color: lighten($main-orange, 3%);
        text-align: center;

        font-size: 130%;
        max-width: 900px;
        width: 80%;  
        display: block;
        margin: 0 auto;
        margin-top: 10px;        
    }
}

.productDiv {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-items: center;
    width: 700px;
    margin: 0 auto;
    align-items: stretch;
    row-gap: 50px;
    margin-top: 50px;
}

.allProducts {
    display: flex;
    flex-direction: column;
}

.checkBoxes {
    color: $main-beige;
    font-family: $poppins;
    font-size: 90%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;

    input {
        cursor: pointer;
        accent-color: $main-green;
        transform: scale(1.5);
    }

    .checkBox {
     display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;       
    }}

    .checkABoxMessage {
        font-family: $poppins;
        color: $main-beige;
        font-size: 90%;
        text-align: center;
        background-color: rgb(26, 26, 26);
        width: 50%;
        padding: 10px;
        border-radius: 10px;
        display: block;
        margin: 0 auto;
        margin-top: 40px;
    }

//Anpassningar till stora skärmar
@media (min-width: 1500px) {

    .systembolagetDiv {
        .systembolagetLink img {
            width: 250px;
        }
    }

    .krogDiv {

        h2 {
            font-size: 180%;
            text-align: center;
            display: block;
            margin: 0 auto;
        }

        p {
            font-size: 160%;
            color: $main-orange;
            margin-top: 20px;
        }
    }

    .productDiv {
            grid-template-columns: repeat(3,1fr);
                row-gap: 50px;
    margin-top: 50px;
    column-gap: 50px;
    width: fit-content;
    }

}




@media (max-width: 1100px) {
    .productDiv {
            grid-template-columns: repeat(1,1fr);
            width: 500px;
    }

    .header {
        h1 {
            font-size: 300%;
        }

        p {
            font-size: 250%;
            margin-top: -45px;
        }
    }

        .systembolagetDiv {
        .systembolagetLink img {
            width: 210px;
        }

    }

    .krogDiv {
        margin: 0 auto;
        margin-top: 100px;
        margin-bottom: 100px;
        
    }

}

@media (max-width: 700px) {
    .productDiv {
            grid-template-columns: repeat(1,1fr);
            width: 300px;
    }

        .header {
        h1 {
            font-size: 260%;
        }

        p {
            font-size: 220%;
            margin-top: -35px;
        }
    }

    .systembolagetDiv {

        .systembolagetLink img {
            width: 210px;
        }
    }

    .checkBoxes {
        flex-direction: column;

        input {
            transform: scale(1.8);
            
        }

        .checkBox {
            width: 130px;
            justify-content: flex-start;
            gap: 10px;
        }
    
    }
}

@media (max-width: 500px) {
    .header {
        h1 {
            line-height: 40px;
        }
        p {
            margin-top: -30px;           
        }
    }

    .systembolagetDiv {
        h2 {
        width: 80%;            
        }

    }
}
