
$main-grey: #292929;
$main-beige: #F1E9DC;
$main-orange: #F05A22;

$poppins: var(--font-poppins);

nav {
    background-color: $main-grey;
    font-family: $poppins;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;

    .logo {
        
        width: 80px;
        padding: 10px;
        margin-left: 10px;
    }

    .logoLink {
        margin-right: auto;
    }
    
    .navMenuLink {
        color: white;
        padding: 10px;
        margin: 12px;
        text-decoration: none;
        font-size: 90%;

        

        &:hover {
            background-color: $main-beige;
            color: $main-grey;
        }
    }
}

body {
    background-color: $main-grey;
}

.mobileNav {
    display: flex;
    flex-direction: column;

    .menuLogos {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .menuSymbol {
        cursor: pointer;
        color: $main-beige;
        font-size: 180%;
    }
}

.menuMobileLinks {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.mobileNav {
    display: none;
}

@media (max-width: 800px) {
    .mainNav {
        display: none;
    }

    .mobileNav {
        display: block;
    }
}


//Anpassningar till stora skärmar
@media (min-width: 1500px) {
    body {
        background-color: #F05A22;
    }

    nav {
    .navMenuLink {
        font-size: 100%;
        font-synthesis:none;
    }        
    }

}

@media (max-width: 1100px) {
    body {
        background-color: blue;
    }

}

@media (max-width: 700px) {
    body {
        background-color: red;
    }

    nav {
        .logo {
            width: 60px;
        }
    }

}
