
$main-grey: #292929;
$main-beige: #F1E9DC;
$main-orange: #F05A22;

$poppins: var(--font-poppins);

.material-symbols-outlined {
    font-family: var(--font-material-symbols);
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

nav {
    background-color: $main-grey;
    font-family: $poppins;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;

    .logo {
        
        width: 80px;
        height: 100%;
        padding: 10px;
        margin-left: 10px;
    }

    .logoLink {
        margin-right: auto;
    }
    
    .navMenuLink {
        color: white;
        padding: 10px;
        margin: 12px;
        text-decoration: none;
        font-size: 90%;

        

        &:hover {
            background-color: lighten($main-grey, 10%);
            border-radius: 10px;
        }
    }

    .navLinkActive {
            background-color: lighten($main-grey, 10%);
            border-radius: 10px;
            text-decoration: none;
        color: white;
        padding: 10px;
        margin: 12px;
        font-size: 90%;
    }
}

body {
    background-color: $main-grey;
}

.mobileNav {
    display: flex;
    flex-direction: column;

    .menuLogos {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .menuSymbol {
        cursor: pointer;
        color: $main-beige;
        font-size: 180%;
    }
}

.menuMobileLinks {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.mobileNav {
    display: none;
}

@media (max-width: 800px) {
    .mainNav {
        display: none;
    }

    .mobileNav {
        display: block;
    }
}

.notLoadedPage {
    font-family: $poppins;
    color: $main-beige;
    text-align: center;
}


//Anpassningar till stora skärmar
@media (min-width: 1500px) {

    nav {
    .navMenuLink {
        font-size: 100%;
        font-synthesis:none;
    }        
    }

}


@media (max-width: 700px) {

    nav {
        .logo {
            width: 60px;
        }
    }

}

@media (max-width: 1100px) {
    nav {
        font-size: 90%;
    }
}
