
$main-grey: #292929;
$main-beige: #F1E9DC;
$main-orange: #F05A22;
$main-brown: #723C14;
$main-green: #8d9a72;

$poppins: var(--font-poppins);
$comforterBrush: var(--font-comforter-brush);
$azoSans: var(--font-azo-sans);
$second-heading: var(--font-outfit);


//Design av header
.header {
    position: relative;
    width: 100%;
    text-align: center;
    line-height: 0px;

    h1 {
        font-family: $azoSans;
        color: $main-beige;
        font-size: 550%;
    }

    p {
        font-family: $comforterBrush;
        color: $main-orange;
        margin-top: -7px;
        font-size: 450%;
    }

}

.startHeader {
      width: 100%;  
      display: block;
}

.headTextDiv {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

//Design av om oss-sektion på startsidan
.aboutDiv {
    background-color: $main-beige;
    display: flex;
    align-items: center;
    margin: 0 auto;
    max-width: 800px;

    border-radius: 20px;
    margin-bottom: 100px;
    padding-top: 20px;
    padding-bottom: 20px;

    .aboutImg {
        padding: 30px;
        margin-top: 20px;        
    }

    img {
        width: 200px;
        height: 100%;
        transform: rotate(-6deg);
    }

    .imgBorder {
        border: 2px solid $main-brown;
        transform: rotate(6deg);
    }



    .aboutContent {
        padding: 30px;

    h2 {
        color: $main-brown;
        font-family: $second-heading;
            letter-spacing: 0.03em;
    }

    p {
        font-family: $poppins;
        font-size: 95%;
        width: 85%;
    }        
    }

    .aboutLink {
        color: $main-brown;
        text-decoration: none;
        display: block;
        margin: 0 auto;
        text-align: center;
        padding: 5px;
        border: 1.5px solid $main-brown;
        width: 170px;
        border-radius: 10px;
        font-family: $poppins;
        font-size: 90%;
        margin-bottom: 40px;
        margin-top: 40px;

        &:hover {
            background-color: $main-brown;
            color: $main-beige;
        }
    }
}

//Design för kalendersektion på startsidan
.eventDiv {

    margin-bottom: 80px;
    background-color: darken($main-grey, 5%);
    padding: 20px;


    .eventContentDiv {
        border-radius: 10px;
        width: 45%;
        margin: 0 auto;
        margin-bottom: 30px;
        padding: 10px;
        text-align: center;
        display: flex;   
        justify-content: center;     
    }

    h2 {
    color: $main-beige;
    text-align: center;
    font-family: $second-heading;
    font-size: 200%;
    letter-spacing: 0.05em;         
    margin-bottom: 30px;
    }
     
    .calendarLink {
        color: $main-beige;
        border: 1.5px solid $main-beige;
        padding: 7px;
        text-decoration: none;
        border-radius: 10px;
        font-family: $poppins;
        font-size: 90%;
        text-align: center;
        display: block;
        margin: 0 auto;
        width: 170px;
        margin-bottom: 40px;
        margin-top: 40px;

        &:hover {
            background-color: $main-beige;
            color:$main-grey;
        }
    }

    .eventDateDiv {
        border: 2px solid $main-green;
        border-radius: 50%;
        padding-right: 35px;
        padding-left: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 90px;
        height: 80px;
        padding-top: 7px;
        padding-bottom: 7px;
        transform: rotate(-15deg);
        margin-right: 50px;        

    }

    .eventDescriptionDiv {
        border-left: 2px solid $main-green;
        padding-left: 50px;
    }

    .eventDate {
        color: $main-beige;
        font-family: $second-heading;
        font-size: 140%;
        transform: rotate(15deg);

    }

    .eventTitle {
        color: $main-beige;
        font-family: $poppins;
        font-size: 130%;
        margin-bottom: -10px;
    }

    .eventPlace {
        color: $main-beige;
        font-family: $poppins;
        font-size: 120%;
        display: flex;
        align-items: center;
        gap: 5px;
        color: $main-green;



        .material-symbols-outlined {
            vertical-align: middle;           
        }
    }
}

//Design av produktsektion på startsidan
.productDiv {
    margin-bottom: 100px;


    h2 {
    color: $main-grey;
    text-align: center;
    font-family: $second-heading;
    font-size: 230%;
    letter-spacing: 0.05em;         
    background-color: $main-beige;    
    padding-bottom: 20px;
    padding-top: 30px;
    margin-bottom: 0px;
    }
     
    .productsLink {
        color: $main-beige;
        border: 1.5px solid $main-beige;
        padding: 7px;
        text-decoration: none;
        border-radius: 10px;
        font-family: $poppins;
        font-size: 90%;
        text-align: center;
        display: block;
        margin: 0 auto;
        width: 170px;
        margin-bottom: 40px;  
        margin-top: 40px;

            &:hover {
            background-color: $main-beige;
            color:$main-grey;
        }
    }  
}

.memberDiv {

    margin-bottom: 100px;

    h2 {
    color: $main-beige;
    text-align: center;
    font-family: $second-heading;
    font-size: 230%;         
    }

    .memberLink {
        font-family: $comforterBrush;
        color: $main-orange;
        text-align: center;
        display: block;
        margin: 0 auto;
        text-decoration: none;
        font-size: 270%;
        margin-top: -50px;
    }
}

.noEvent {
    color: $main-beige;
    font-family: $poppins;
    text-align: center;
    padding: 25px;
}
.mainProductList {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    background-color: $main-beige;
    margin-bottom: 30px;
    padding-bottom: 30px;
}

.latestProducts{
    background-color: $main-grey;
    margin: 0 auto;
    text-align: center;
    margin: 20px;
    width: 300px;
    align-items: center;
    border-radius: 10px;
    padding: 0px;
    
    img {
        width: 100px;
        height: 180px;
        padding-top: 20px;
        filter: drop-shadow(30px 15px 5px rgb(27, 27, 27));
    }

    h3 {
        font-family: $second-heading;
        font-size: 180%;
        color: $main-beige;
        padding: 10px;
    }

    h4 {
        color: $main-orange;
        font-family: $comforterBrush;
        font-size: 170%;
        font-synthesis:none;
        margin-top: -30px;
        padding-left: 10px;
        padding-right: 10px;
    }    
}

//Anpassningar till stora skärmar
@media (min-width: 1500px) {
.aboutDiv {

    img {
        width: 210px;
    }

    h2 {
        font-size: 190%;
    }

    p {
        font-size: 100%;
        width: 85%;
    }

    .aboutLink {
        width: 190px;
        font-size: 95%;
        margin-bottom: 40px;
        margin-top: 40px;
    }
}

.noEvent {
    p {
        width: 85%;
    }
}

.eventDiv {

    .eventContentDiv {
        max-width: 550px;
        width: 80%;
        margin: 0 auto;
        margin-bottom: 20px;
        padding: 30px;
    }
     
    .calendarLink {
        width: 190px;
        font-size: 95%;
    }

    h2 {
        font-size: 190%;
    }

}

.productDiv {
    .productsLink {
         width: 190px;
        font-size: 95%;
  
    }

        h2 {
        font-size: 190%;
    }
}

}

@media (max-width: 1100px) {
    .aboutDiv {
    padding-top: 5px;
    padding-bottom: 5px;
    width: 95%;

    img {
        width: 180px;
    }

    .aboutContent {
        padding: 30px;
    }
}

.header {
    h1 {
        font-size: 400%;
    }

    p {
        font-size: 350%;
    }
}

.eventDiv {

    .eventContentDiv {
        max-width: 650px;
        width: 90%;
    }
}

.latestProducts {
margin: 8px;
}

.header {
    img {
        min-height: 230px;
    }
}


}

@media (max-width: 700px) {
.aboutDiv {
    width: 85%;
    flex-direction: column;
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        margin-bottom: 100px;

    .aboutContent {
        display: block;
        margin-top: -50px;
        width: 100%;
        padding: 50px;
        text-align: center;

    h2 {
        text-align: center;
    }        

    p {
        margin: 0 auto;
    }
    }
}

.header {
    h1 {
        font-size: 350%;
    }

    p {
        font-size: 300%;
    }

    img {
        height: 180px;
    }
}

.mainProductList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    border-radius: 10px;
    padding-bottom: 20px;
    padding-top: 20px;

    .latestProducts {
margin: 20px;
}
}

}

@media (max-width: 500px) {
    .latestProducts {
        width: 250px;

        img {
            padding-top: 40px;
        }
    }
}


