.contactFormLoading {
    color: rgb(247, 232, 177);
    text-align: center;
    font-size: 105%;
}

.contactFormError {
    color: rgb(252, 184, 184);
    text-align: center;
    font-size: 105%;
}

.contactFormConfirmation {
    color: rgb(195, 218, 155);
    text-align: center;
    font-size: 105%;
}

.messageDiv {
    margin-top: 25px;
}