
$main-grey: #292929;
$main-beige: #F1E9DC;
$main-orange: #F05A22;
$main-brown: #723C14;
$main-green: #8d9a72;

$poppins: var(--font-poppins);
$comforterBrush: var(--font-comforter-brush);
$azoSans: var(--font-azo-sans);
$second-heading: var(--font-outfit);

.eventComponentDiv, .eventPassed {
    display: flex;
    justify-content: flex-start;
    width: 450px;

    .eventDate {
        color: $main-beige;
        font-family: $second-heading;
        font-size: 150%;
        border-right: 2px solid $main-green;
        padding-right: 20px;
        margin-right: 20px;
        width: 80px;
    }

    h2 {
        color: $main-beige;
        font-family: $second-heading;
    }

    .eventPlace {
        color: $main-beige;
        font-family: $poppins;
        margin-top: -10px;
    }

    .eventInfo {
        color: $main-beige;
        font-family: $poppins;
        font-size: 85%;
        white-space: pre-line;
    }

    .eventShowInfo {
        color: $main-beige;
        justify-content: center;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        font-family: $poppins;
        color: $main-green;

        &:hover {
            color: lighten($main-green, 20%);
        }
    }

    .eventLink {
        color: $main-green;
        text-decoration: none;
        font-family: $poppins;
        font-size: 90%;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        &:hover {
            color: lighten($main-green, 20%);
        }

        .material-symbols-outlined{
            font-size: 110%;
            margin-left: 5px;
            text-decoration: none;
        }
    }
}

.eventPassed {

    h2, .eventDate, .eventPlace {
    text-decoration: line-through;
    text-decoration-thickness: 2px;
    color: $main-green;        
    }
}



//Anpassningar till stora skärmar
@media (min-width: 1500px) {
.eventComponentDiv, .eventPassed{
width: 500px;

h2 {
    font-size: 170%;
}

    .eventInfo {
    font-size: 100%;
}    

    .eventDate {
    font-size: 170%;
}

.eventShowInfo {
    font-size: 110%;
}


}


}



@media (max-width: 700px) {
.eventComponentDiv, .eventPassed{
width: 400px;
}
}

@media (max-width: 500px) {
    .eventComponentDiv, .eventPassed {
        width: 250px;
    }
}