
$main-grey: #292929;
$main-beige: #F1E9DC;
$main-orange: #F05A22;
$main-brown: #723C14;

$poppins: var(--font-poppins);
$comforterBrush: var(--font-comforter-brush);
$azoSans: var(--font-azo-sans);
$second-heading: var(--font-outfit);
$estonia: var(--font-estonia);
$breathing: var(--font-breathing);

.header {

    width: 100%;

    img {
        width: 100%;
        height: 100%;
    }

    h1 {
        color: $main-beige;
        font-family: $second-heading;
        text-align: center;
        font-size: 300%;
    }

    p {
        color: lighten($main-orange, 3%);
        font-family: $breathing;
        font-size: 200%;
        text-align: center;
        margin-top: -55px;
    }
}

.memberDiv {
        display: block;
        margin: 0 auto;
        max-width: 700px;
        width: 80%;

    h2 {
        color: $main-beige;
        font-family: $second-heading;
        font-size: 200%;
        text-align: center;
    }

    p {
        white-space: pre-line;
        color: $main-beige;
        font-family: $poppins;
        font-size: 100%;
        max-width: 700px;
        width: 85%;
        display: block;
        margin: 0 auto;
    }
}

@media (min-width: 1500px) {
    
}

@media (max-width: 1100px) {
    .header {
        h1 {
            font-size: 300%;
        }

        p {
            font-size: 200%;
            margin-top: -55px;
        }
    }

    .memberDiv {
        display: block;
        margin: 0 auto;
        max-width: 700px;
        width: 90%;

        p {
            font-size: 100%;
        }
    }

}

@media (max-width: 700px) {
        .header {
        h1 {
            font-size: 250%;
        }

        p {
            font-size: 180%;
            margin-top: -50px;
        }
    }

}

@media (max-width: 500px) {
    .header {

        h1 {
            font-size: 210%;
            width: 80%;
            display: block;
            margin: 0 auto;
            margin-top: 20px;
            margin-bottom: 20px;
        }

        p{
            margin-top: -30px;
            font-size: 140%;
        }
    }

    .memberDiv {
        h2 {
            font-size: 170%;
        }

        p {
            font-size: 100%;
        }
    }
}